@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Source+Sans+Pro&display=swap');
:root {
    --black-color: #000;
    --white-color: #fff;
    --beige-color: #b88a59;
    --grey-color: rgb(165, 164, 164);
    --light-bg: #F7F7F7;
    --transparent-color: rgba(0, 0, 0, 0);
    --opacity-color: rgba(0, 0, 0, 0.7)

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;
}
body {

}
.container {
    max-width: 114rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

header {
    height: 10rem;
    width: 100%;
    background-color: var(--black-color);
}
.header-container {
    justify-content: space-between;
    align-items: center;
}
.header-container img {
    height: 100%;
}
.menu-list {
    color: var(--white-color);
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.menu-list li {
    list-style-type: none;
    flex: 1;
}
.menu-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    font-weight: 600;
    height: 10rem;
    padding: 1rem;
    border-bottom: 0.5rem solid var(--transparent-color);
    transition: border 150ms linear;
    cursor: pointer;
}
.menu-list li a:hover {
    color: var(--grey-color);
    border-bottom: 0.5rem solid var(--beige-color);
}


.banner {
    width: 100vw;
    height: calc(100vh - 10rem);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.banner .sliders {
    height: 100%;
    width: 300vw;
    display: flex;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: var(--opacity-color)
}

.banner .slide-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .slide-area h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
}

.title-two {
    color: var(--beige-color) !important;
    margin-top: -1.5rem;
}

.banner .slide-area h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--white-color);
}

.button {
    margin-top: 8rem;
    color: var(--white-color);
    background-color: var(--beige-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3rem;
    transition: transform 150ms linear;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.button:hover {
    transform: scale(1.1);
}

.slider-pointers {
    width: 100%;
    height: 2rem;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.points {
    width: 1.3rem;
    margin-right: 0.5rem;
    height: 1.3rem;
    border: 0.2rem solid var(--beige-color);
    border-radius: 50%;
    cursor: pointer 
}
.point-active {
    background-color: var(--beige-color);
    width: 1.6rem;
    height: 1.6rem;
}
.points:hover {
    transform: scale(1.1)
}

.default {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.default .section-title, .default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.section-title {
    font-size: 2rem;
    margin-bottom: 1.0rem;
}
.default.dark .section-title,
.default.dark .section-body {
    color: var(--white-color);
}
.default.light .section-title,
.default.light ,.section-body {
    color: var(--black-color);
}
.section-desc {
    font-size: 1.2rem;
    color: var(--grey-color);
    margin-bottom: 4rem;
}
.default .section-body {
    margin: 0 auto;
}
.default.light {
    background-color: var(--light-bg);
}
.default.dark {
    background-color: var(--black-color);
}









/* CSS de áreas específicas */
/* About Us */

.section-aboutus {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
}
.section-aboutus-left {
    flex: 3;
}
.section-aboutus-left p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.section-aboutus-right {
    flex: 2;
    text-align: center;
    margin-left: 1rem;
}
.section-aboutus-right img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem;
}




/* Services */

.section-services {
    display: flex;
    margin:0 auto;
    width: 100%;
}
.service {
    flex: 1;
    text-align: center;
    border-right: 0.1rem solid #333;
    padding: 1.5rem
}
.service:nth-child(1){
    border-left: 0.1rem solid #333;
}
.service h4 {
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 1.8rem;
}
.service p {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #999;
}




/* Projects */

.section-projects {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
     align-items: center;
}
.projects-filter {
    margin: 0 auto;
    display: inline-block;
    height: 5rem;
    background-color: #ededed;
    border-radius: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.projects-filter ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.projects-filter ul li {
    display: inline-block;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.3rem;
    border-left: 0.1rem solid #cfcfcf;
    border-bottom: 0.5rem solid var(--transparent-color);
    transition: border-bottom 150ms linear;
    cursor: pointer;

}
.projects-filter ul li:first-child {
    border-left: none;
}
.projects-filter ul li:hover,
.projects-filter ul li.active {
    border-bottom: 0.5rem solid var(--beige-color);
}


.projects-images {
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-photo {
    width: 28rem;
}
.projects-photo .projects-photoarea {
    width: 26rem;
    height: 16rem;
    margin: 1rem;
}
.projects-photoarea img {
    width: inherit;
    height: inherit;
}
.projects-photoinfo {
    position: absolute;
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}
.projects-photoinfo h5 {
    font-size: 1.6rem;
}
.projects-photoinfo p {
    font-size: 1.2rem;
}
.projects-photo:hover .projects-photoinfo {
    display: flex;
}




/* OUR TEAM */

.team-photos {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem    
}
.person-team-photo {
    background-color: var(--white-color);
    min-width: 35rem;
    max-width: 40rem;
    height: 43rem;
    padding: 4.6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.person-team-photo img {
    width: 18rem;
    height: 18rem;
    margin-bottom: 4.5rem;
}
.person-team-photo h5 {
    color: black;
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.person-team-photo h6 {
    color: var(--grey-color);
    font-size:1.4rem ;
    font-weight: 500;
}
.person-team-photo .social-media-person {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.person-team-photo .social-media-person span {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
.person-team-photo .social-media-person span img {
    height: 50%;
    width: 50%;
    margin: 0;
}
.person-team-photo .social-media-person span:hover {
    background-color: var(--beige-color);
}
.person-team-photo .social-media-person span:nth-child(4) img{
    width: 30%;
}
.default.dark.section-our-team {
    background-image: url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.our-team-background {
    width: 100%;
    height: 100%;
    padding: 5rem 0 5rem 0;
    background-color: var(--opacity-color);
}
.our-team-background .slider-pointers {
    margin-top: 5rem;
}
.section-body.sliders {
    width: 300vw;
    display: flex;
}
.team-photos.slide {
    width: 100%;
}