@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Source+Sans+Pro&display=swap');
:root {
    --black-color: #000;
    --white-color: #fff;
    --beige-color: #b88a59;
    --grey-color: rgb(165, 164, 164);
    --light-bg: #F7F7F7;
    --transparent-color: rgba(0, 0, 0, 0);
    --opacity-color: rgba(0, 0, 0, 0.7)

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}

.container {
    max-width: 114rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

header {
    height: 10rem;
    width: 100%;
    background-color: var(--black-color);
}
.header-container {
    justify-content: space-between;
    align-items: center;
}
.header-container img {
    height: 100%;
}
.menu-list {
    color: var(--white-color);
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.menu-list li {
    list-style-type: none;
    flex: 1;
}
.menu-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    font-weight: 600;
    height: 10rem;
    padding: 1rem;
    border-bottom: 0.5rem solid var(--transparent-color);
    transition: border 150ms linear;
    cursor: pointer;
}
.menu-list li a:hover {
    color: var(--grey-color);
    border-bottom: 0.5rem solid var(--beige-color);
}


.banner {
    width: 100%;
    height: calc(100vh - 10rem);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.banner .sliders{
    height: 100%;
    width: 300vw;
    display: flex;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: var(--opacity-color)
}

.banner .slide-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .slide-area h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
}

.title-two {
    color: var(--beige-color) !important;
    margin-top: -1.5rem;
}

.banner .slide-area h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--white-color);
}

.button {
    margin-top: 8rem;
    color: var(--white-color);
    background-color: var(--beige-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3rem;
    transition: transform 150ms linear;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.button:hover, .button-price:hover {
    transform: scale(1.1);
}

.slider-pointers {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .slider-pointers {
    margin-top: -4rem;
}
.points {
    width: 1.1rem;
    margin-right: 0.5rem;
    height: 1.1rem;
    border: 0.2rem solid var(--beige-color);
    border-radius: 50%;
    cursor: pointer 
}
.point-active, .point-active-team, .point-active-client, .point-active-premium {
    background-color: var(--beige-color);
}
.points:hover {
    transform: scale(1.1)
}

.default {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.default .section-title, .default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.section-title {
    font-size: 2rem;
    margin-bottom: 1.0rem;
}
.default.dark .section-title,
.default.dark .section-body {
    color: var(--white-color);
}
.default.light .section-title,
.default.light  .section-body {
    color: var(--black-color);
}
.section-desc {
    font-size: 1.2rem;
    color: var(--grey-color);
    margin-bottom: 4rem;
}
.default .section-body {
    margin: 0 auto;
}
.default.light {
    background-color: var(--light-bg);
}
.default.dark {
    background-color: var(--black-color);
}
.white-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--white-color);
    border-top: 0.2rem solid #ccc;
    border-bottom: 0.2rem solid #ccc;
}









/* CSS de áreas específicas */
/* About Us */

.section-aboutus {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
}
.section-aboutus-left {
    flex: 3;
}
.section-aboutus-left p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.section-aboutus-right {
    flex: 2;
    text-align: center;
    margin-left: 1rem;
}
.section-aboutus-right img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem;
}




/* Services */

.section-services {
    display: flex;
    flex-wrap: wrap ;
    margin:0 auto;
    width: 100%;
}
.service {
    flex: 1;
    text-align: center;
    border-right: 0.1rem solid #333;
    padding: 1.5rem
}
.service:nth-child(1){
    border-left: 0.1rem solid #333;
}
.service h4 {
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 1.8rem;
}
.service p {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #999;
}




/* Projects */

.section-projects {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
     align-items: center;
}
.projects-filter {
    margin: 0 auto;
    display: inline-block;
    height: 5rem;
    background-color: #ededed;
    border-radius: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.projects-filter ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.projects-filter ul li {
    display: inline-block;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.3rem;
    border-left: 0.1rem solid #cfcfcf;
    border-bottom: 0.5rem solid var(--transparent-color);
    transition: border-bottom 150ms linear;
    cursor: pointer;

}
.projects-filter ul li:first-child {
    border-left: none;
}
.projects-filter ul li:hover,
.projects-filter ul li.active {
    border-bottom: 0.5rem solid var(--beige-color);
}


.projects-images {
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-photo {
    width: 28rem;
}
.projects-photo .projects-photoarea {
    width: 26rem;
    height: 16rem;
    margin: 1rem;
}
.projects-photoarea img {
    width: inherit;
    height: inherit;
}
.projects-photoinfo {
    position: absolute;
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}
.projects-photoinfo h5 {
    font-size: 1.6rem;
}
.projects-photoinfo p {
    font-size: 1.2rem;
}
.projects-photo:hover .projects-photoinfo {
    display: flex;
}




/* OUR TEAM */

.team-photos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.person-team-photo {
    background-color: var(--white-color);
    min-width: 28rem;
    max-width: 40rem;
    height: 43rem;
    padding: 4.6rem 2.3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.person-team-photo img {
    width: 18rem;
    height: 18rem;
    margin-bottom: 4.5rem;
}
.person-team-photo h5 {
    color: black;
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.person-team-photo h6 {
    color: var(--grey-color);
    font-size:1.4rem ;
    font-weight: 500;
}
.person-team-photo .social-media-person {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
}
.person-team-photo .social-media-person span {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #ccc;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.person-team-photo .social-media-person span img {
    width: 2rem;
    object-fit: contain;
    margin: 0;
}
.person-team-photo .social-media-person span:hover {
    background-color: var(--beige-color);
}
.person-team-photo .social-media-person span:nth-child(4) img{
    width: 30%;
}
.default.dark.section-our-team {
    background-image: url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.our-team-background {
    width: 100%;
    height: 100%;
    padding: 5rem 0 5rem 0;
    background-color: var(--opacity-color);
}
.our-team-background .slider-pointers {
   margin-top: 5rem;
}




/* Clients */
  
.clients-slider {
   width: 100%;

}
.clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}
.clients img {
    width: 15rem;
    height: 16rem;
    margin-bottom: 3.5rem;
}
.clients h5 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.clients h6 {
    font-size: 1.4rem;
    color: var(--grey-color);
    margin-bottom: 3rem;
}
.clients span img {
    height: 2rem;
    width: 2.5rem;
}
.clients p {
    font-size: 1.4rem;
    max-width: 75rem;
    text-align: center;
}
.section-clients .slider-pointers {
    margin-top: 5rem;
    margin-bottom: 0;
}



/* Branding */

.branding-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.branding-section img {
    object-fit: contain;
}




/* Price */

.section-price {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.price {
    padding-top: 3rem;
    padding-bottom: 3rem; 
    min-width: 25.5rem;
    max-width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    flex: 1;
}
.price h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
}
.price em {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.price p {
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 2rem;
}
.price ul {
    list-style-type: none;
    text-align: center;
}
.price ul li {
    height: 3rem;
}
.price ul li span {
    position: relative;
    font-weight: bold;
}
.button-price {
    margin-top: 2rem;
    padding: 1.5rem 3.5rem;
    background-color: #333;
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;  
    border-radius: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: transform 150ms linear;
}
.button-price-premium {
    background-color: var(--beige-color);
}




/* Premium */

.default.light.white-section {
    background-color: var(--white-color);
    border-bottom: none;
}
.premium-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.premium-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: 4rem;
}
.premium-slide img {
    object-fit: scale-down;
}
.features {
    margin-bottom: 5rem;
}
.premium-info h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: var(--black-color);
}
.premium-info {
    color: var(--grey-color);
    font-size: 1.2rem;
}
.premium-info span {
    float: left;
}
.premium-info span img {
    transform: scale(0.8);
}
.text-premium-slide {
    margin-left: 4rem;
}
.text-premium-slide ul {
    list-style: inside square;
    text-transform: uppercase;
}

.features p, .features h3{
    margin-left: 4rem;
}
.features:first-child p, .features:first-child h3 {
    margin-left: 0;
}
.premium-section .button {
    margin-bottom: 6rem;
}





/* Some Facts */

.some-facts {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    gap: 5rem;
}
.some-facts-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 2rem;
}
.some-facts-column h4{
    height: 5rem;
    word-wrap: break-word;
    font-size: 4rem;
    color: var(--beige-color);
    margin-bottom: 0.8rem;
}
.some-facts-column h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.some-facts-column h4 span {
    position: relative;
    bottom:  0;
    margin: 0 auto;
    width: 100%;
}
.some-facts-column h4 span div {
    width: 2rem;
    height: 0.5rem;
    background-color: #7e7e7e;
    margin: 0 auto;
}




/* Share */

.share-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.share {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media {
    display: flex;
    gap: 3rem;
}
.share h6 {
    font-size: 1.1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--grey-color);
}

.social-media-logo {
    display:  flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #c5c5c5;
    font-weight: 600;
    transition: transform 150ms linear;
}
.social-media-logo:hover {
    transform: scale(1.1);
}
.social-media-logo:first-child {
    margin-left: 5rem;
}
.social-media-logo div {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.social-media-logo img {
    height: 1.3rem;
    width: 1.3rem;
    object-fit: contain;
}
.twitter {
    background-color: #32c5f1;
}
.linkedin {
    background-color: #137cb5;
}
.facebook {
    background-color: #316396;
}
.google-plus {
    background-color: #e64238;
}
.pinterest {
    background-color: #b61c26;
}





/* Contact */

.contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form input {
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid #aeaeae;
    padding-bottom:1.5rem;
    outline: none;
    background: none;
}
.contact-form table {
    width: 60rem;
}
.contact-form td, .contact-form tr {
    padding: 2.5rem 1rem;
}
.contact-form .button {
    display: block;
    width: fit-content;
    margin: 0 auto;
}




/* Maps */

.maps-section {
    width: 100%;
    height: 40rem;
    background-image: url(../images/maps-bg.png);
    background-position: center;
    background-size: cover;
    padding: 3.5rem;
}
.local-info {
    align-self: center;
    border-radius: 1rem;
    background-color: var(--white-color);
    height: 90%;
    width: 30rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.info:last-child {
    margin-bottom: 0;
}
.info span {
    background-color: #aeaeae;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.info span img {
    margin: 0 auto;
}

.arrow-up {
    width: 6.5rem;
    height: 6.5rem;
    background-color: var(--beige-color);
    border-radius: 50%;
    position:relative;
    top: 33rem;
    margin-right: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.arrow-up span {
    font-size: 3.5rem;
}
